.headOne {
  font-size: 25px;
  font-weight: bolder;
  margin: 10px;
}

.text {
  font-size: 18px;
}

.unorderedList {
  list-style-type: circle;
  width: 80%;
  margin: 5px;
}

.listItem {
  font-size: 18px;
  margin: 3px;
}
