.contactUsForm {
  display: flex;
  flex-direction: column;
  background-color: var(--color-59);
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 8px 8px var(--color-59);
  border-radius: 10px;
  height: auto;
  width: 780px;
  justify-content: center;
  align-items: initial;

  & label {
    color: var(--color-15);
    margin: 5px;
  }

  & .name {
    width: 10rem;
    margin: 5px;
    font-size: 1.1rem;
    padding: 5px;
    background-color: var(--color-28);
    border-radius: 10px;
    border: 2px solid var(--color-28);
    box-shadow: 0px 0px 5px 5px var(--color-28);
  }

  & .email {
    width: 10rem;
    margin: 5px;
    font-size: 1.1rem;
    padding: 5px;
    background-color: var(--color-28);
    border-radius: 10px;
    border: 2px solid var(--color-28);
    box-shadow: 0px 0px 5px 5px var(--color-28);
  }

  & .message {
    width: 45rem;
    height: 20rem;
    margin: 5px;
    font-size: 1.1rem;
    padding: 5px;
    background-color: var(--color-28);
    border-radius: 10px;
    border: 2px solid var(--color-28);
    box-shadow: 0px 0px 5px 5px var(--color-28);
  }

  & .sendMessage {
    width: 5rem;
    margin: 5px;
    margin-top: 10px;
    font-size: 1.1rem;
    background-color: var(--color-45);
    color: var(--color-60);
    border: 3px solid var(--color-40);
    border-radius: 10px;
    transition: all ease-in 0.3s;
  }

  & .sendMessage:hover {
    border: 3px solid var(--color-15);
    transition: all ease-out 0.3s;
    background-color: var(--color-30);
    color: var(--color-1);
    box-shadow: 0px 0px 5px 5px var(--color-28);
    cursor: pointer;
  }
}
