@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: IosevkaTermNerdFontMono-BoldItalic;
  src: url(/fonts/IosevkaTerm/IosevkaTermNerdFont-BoldItalic.ttf);
}

@font-face {
  font-family: IosevkaTermNerdFontMono-Bold;
  src: url(/fonts/IosevkaTerm/IosevkaTermNerdFont-Bold.ttf);
}

@font-face {
  font-family: IosevkaTermNerdFontMono-Italic;
  src: url(/fonts/IosevkaTerm/IosevkaTermNerdFont-Italic.ttf);
}

@font-face {
  font-family: IosevkaTermNerdFontMono;
  src: url(/fonts/IosevkaTerm/IosevkaTermNerdFont-Regular.ttf);
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
  padding: 0.1px;
  width: 100%;
  font-family: IosevkaTermNerdFontMono-Bold;
}
